.button {
	display: inline-block;
	background-color: var(--bg-button);
	border-radius: 75px;
	color: var(--text-secondary);
	font-size: 28px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.05em;
	padding: 12px 40px;
	transition: all .3s ease;
}

.button:hover {
	background-color: var(--bg-button-hover);
	color: #FFFFFF;
}