* {
  margin: 0;
  padding: 0;
  border: 0;
  
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
  
  &:focus,
  &:active {
    outline: none;
  }
  
  &,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}

ul,
ol {
  list-style: none;
}

img,
svg,
picture,
canvas,
video {
  display: block;
  max-width: 100%;
}

svg * {
  transition-property: fill, stroke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
select,
textarea {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

html,
body {
  @include box-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}