.about {
	position: relative;
	overflow: hidden;
}

.inner {
	width: 100%;
	max-width: 800px;
}

.imageWrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding-block: 120px;
	transform: translateX(40%);
	overflow: hidden;
}

.image {
	border-radius: 80px;
}