// Fonts
$font-family-primary: "Comfortaa";
$font-family-secondary: "Bounded";

// Font styles
$font-style-normal: normal;
$font-style-italic: italic;

// Font sizes
$font-size-base: 20px;

// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

// Letter spacings
$letter-spacing-1: 0.01em;
$letter-spacing-3: 0.03em;
$letter-spacing-5: 0.05em;
$letter-spacing-7: 0.07em;
$letter-spacing-15: 0.15em;

// Border
$border-radius: 16px;

// Container sizes
$s-container-width: 1200px;
$s-container-padding-x: 15px;

// Section
$s-section-padding-y: 120px;

// Transitions
$trans-duration: 0.2s;
$trans-timing-function: ease;
$trans-default: $trans-duration $trans-timing-function;