.wrapper {
	position: relative;
}

.control {
	cursor: pointer;
	background-color: var(--text-secondary);
	border-radius: 15px;
	padding: 5px 20px;
	transition: all 0.2s ease;
}

.control:hover {
	background-color: var(--bg-primary);
}

.value {
	display: inline-block;
	color: #638BA3;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 0.05em;
	user-select: none;
}

.options {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	animation: fadeIn 0.15s ease-out;
	background-color: var(--text-secondary);
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	margin-top: 5px;
	overflow-y: auto;
	z-index: 10;
}

.option {
	cursor: pointer;
	color: var(--text-accent-primary);
	font-weight: 500;
	line-height: 1;
	letter-spacing: 0.05em;
	padding: 5px 20px;
	transition: all 0.2s ease;
	user-select: none;
}

.option.selected,
.option:hover {
	background-color: var(--bg-primary);
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-4px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}