.checkbox {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.input {
	appearance: none;
	cursor: pointer;
	width: 40px;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-secondary);
	border-radius: 5px;
}

.input::after {
	content: "\2714";
	color: var(--success);
	font-size: 28px;
	line-height: 1;
	opacity: 0;
	visibility: hidden;
	transition: var(--transition-default);
}

.input:checked::after {
	opacity: 1;
	visibility: visible;
}

.text {
	width: 100%;
	max-width: 200px;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 0.03em;
}

@media screen and (max-width: 479.98px) {
	.input {
		width: 30px;
	}
}