.logo {
	cursor: pointer;
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.icon {
	width: 60px;
	aspect-ratio: 1;
}

.title {
	display: flex;
	flex-direction: column;
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
}

.light {
	color: var(--text-light);
}

.dark {
	color: var(--text-primary);
}

.title span {
	font-size: 0.5em;
}

@media screen and (max-width: 767.98px) {
	.icon {
		width: 40px;
	}

	.title {
		font-size: 24px;
	}
}

@media screen and (max-width: 479.98px) {
	.title {
		display: none;
	}
}