.wrapper {
	position: relative;
}

.avatar {
	cursor: pointer;
	width: 50px;
}

.list {
	min-width: max-content;
	background-color: var(--text-light);
	border-radius: 10px;
	overflow: hidden;
	transition: var(--transition-default);
}

.link {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 20px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.05em;
	padding: 15px 40px 15px 20px;
	transition: var(--transition-default);
}

.link:hover {
	background-color: var(--bg-primary);
	color: var(--text-hover);
}

.profile {
	color: var(--text-secondary);
	fill: var(--text-secondary);
	stroke: var(--text-secondary);
}

.exit {
	color: var(--error);
	fill: var(--error);
	stroke: var(--error);
}

.icon {
	width: 40px;
	aspect-ratio: 1;
}

.loginLink {
	cursor: pointer;
	color: var(--text-light);
	fill: var(--text-light);
	stroke: var(--text-light);
}

.loginLink:hover {
	opacity: 0.7;
}

.loginIcon {
	width: 40px;
	aspect-ratio: 1;
}

@media screen and (max-width: 479.98px) {
	.avatar {
		width: 30px;
	}

	.loginIcon {
		width: 30px;
	}
}