.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 100px;
}

.title {
	color: #0e2f51;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 5%;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: 80px;
}

.buttonWrapper {
	margin-top: 40px;
}

.text {
	margin-top: 20px;
}

.link {
	color: var(--bg-button);
	font-weight: 700;
}

.link:hover {
	color: var(--bg-button-hover);
}