.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.inputWrapper {
	position: relative;
}

.input {
	width: 100%;
	background-color: var(--text-secondary);
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	border-radius: 20px;
	color: var(--text-accent-primary);
	font-size: 24px;
	font-weight: 600;
	padding: 16px 86px 16px 26px;
	transition: all .3s ease;
}

.input:focus {
	border-color: var(--text-primary);
}

.input::placeholder {
	color: var(--text-accent-primary);
}

.button {
	position: absolute;
	top: calc((100% - 40px) / 2);
	right: 20px;
	width: 40px;
	aspect-ratio: 1;
}