.wrapper {
	max-width: 1000px;
	background-color: var(--bg-primary);
	padding: 150px 100px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.text {
	font-size: 24px;
	font-weight: 600;
	line-height: 2;
	letter-spacing: 0.1em;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 80px;
}