.actions {
	display: flex;
	align-items: center;
	gap: 20px;
}

.icon {
	width: 50px;
	aspect-ratio: 1;
	fill: var(--text-secondary);
	transition: all 0.2s ease;
}

.icon:hover {
	fill: var(--bg-primary);
}