.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	padding-block: 20px;
	background-color: var(--bg-header);
	z-index: 5;
}

.inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}