.imageWrapper {
	width: 100%;
	height: 250px;
}

.image {
	border-radius: 30px;
}

.titleWrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 20px;
	margin-block: 40px;
}

.iconWrapper {
	width: 100px;
	aspect-ratio: 1;
}

.title {
	font-weight: 700;
	line-height: 1;
}

.text {
	line-height: 1.2;
	letter-spacing: 0.07em;
}