.c-admin {
  @include box-size(100%, 100vh);
  display: grid;
  grid-template-columns: auto 1fr;
  
  &__main {
    overflow-y: scroll;
    padding: 90px;
  }
  
  &__sidebar {
    align-self: start;
    height: 100%;
    background-color: $c-text-primary;
  }
  
  &__logo {
    margin-bottom: 40px;
    padding: 30px 60px 30px 30px;
  }
  
  &__nav {
    &-list {
      display: flex;
      flex-direction: column;
    }
    
    &-link {
      font-size: 20px;
      font-weight: $font-weight-bold;
      line-height: 1.5;
      display: block;
      padding: 15px 30px;
      letter-spacing: $letter-spacing-5;
      color: $c-bg-secondary;
      
      &.active {
        color: $c-text-primary;
        background-color: $c-bg-secondary;
      }
      
      @include hover {
        color: $c-text-primary;
        background-color: $c-bg-secondary;
      }
    }
  }
  
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

.c-admin__species {
  &-table tr {
    @include grid-template-columns-middle(1fr);
  }
}