.c-appointment {
  @include box-size();
  min-height: 100vh;
  padding: 60px 0 90px;
  
  &__form {
    @include box-size(100%, auto);
    display: grid;
    gap: 30px;
    
    &-button {
      margin-top: 30px;
      justify-self: center;
    }
  }
  
  &__inner {
    @include box-size(1030px, 1000px);
    padding: 80px 110px 60px;
    border: 1px solid $c-text-light;
    border-radius: 55px;
    background-color: $c-text-light-70;
    margin-inline: auto;
  }
  
  &__title {
    font-family: $font-family-secondary;
    font-size: 48px;
    font-weight: $font-weight-bold;
    line-height: 1.2;
    margin-bottom: 75px;
    letter-spacing: $letter-spacing-5;
  }
}