.c-button {
  font-size: 24px;
  font-weight: $font-weight-bold;
  line-height: 1.5;
  padding: 20px 30px;
  transition: $trans-default;
  letter-spacing: $letter-spacing-3;
  color: $c-text-light;
  border-radius: 5px;
  background-color: $c-button-bg;
  
  @include hover {
    color: $c-button-bg;
    background-color: $c-text-light;
  }
  
  &--reverse {
    color: $c-button-bg;
    background-color: $c-text-light;
    
    @include hover {
      color: $c-text-light;
      background-color: $c-button-bg;
    }
  }
  
  &--rounded {
    border-radius: 75px;
  }
}