.c-checkbox {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  
  &__label {
    display: flex;
    align-items: center;
    column-gap: 7px;
  }
  
  &__input {
    @include flex-center;
    width: 40px;
    cursor: pointer;
    border-radius: 5px;
    background-color: $c-bg-secondary;
    appearance: none;
    aspect-ratio: 1;
    
    &::before {
      @include hide;
      font-size: 28px;
      line-height: 1;
      content: "\2714";
      transition: $trans-default;
      color: $c-success;
    }
    
    &:checked::before {
      @include show;
    }
  }
  
  &__text {
    font-size: 14px;
    line-height: 1;
    width: 100%;
    max-width: 200px;
    letter-spacing: $letter-spacing-3;
  }
}