.c-checkbox {
	display: flex;
	flex-direction: column;
	row-gap: 8px;

	label {
		display: flex;
		align-items: center;
		column-gap: 7px;
	}

	input {
		@include flex-center;
		cursor: pointer;
		appearance: none;
		width: 40px;
		aspect-ratio: 1;
		background-color: $c-bg-secondary;
		border-radius: 5px;

		&::before {
			@include hide;
			content: "\2714";
			color: $c-success;
			font-size: 28px;
			line-height: 1;
			transition: $trans-default;
		}

		&:checked::before {
			@include show;
		}
	}

	span {
		width: 100%;
		max-width: 200px;
		font-size: 14px;
		line-height: 1;
		letter-spacing: $letter-spacing-3;
	}
}