.c-contacts {
  &__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: rem(100);
  }
  
  &__items {
    display: flex;
    flex-direction: column;
    gap: rem(60);
  }
  
  &__item {
    display: flex;
    align-items: flex-start;
    gap: rem(30);
    
    &-icon {
      @include square(rem(48));
      fill: $c-text-primary;
      stroke: $c-text-primary;
    }
    
    &-text {
      font-size: rem(28);
      line-height: $line-height-120;
      letter-spacing: $letter-spacing-5;
      
      span {
        font-weight: $font-weight-bold;
      }
    }
  }
}