.c-contacts {
  &__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 100px;
  }
  
  &__items {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  
  &__item {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    
    &-icon {
      @include square(48px);
      fill: $c-text-primary;
      stroke: $c-text-primary;
    }
    
    &-text {
      font-size: 28px;
      line-height: 1.2;
      letter-spacing: $letter-spacing-5;
      
      span {
        font-weight: $font-weight-bold;
      }
    }
  }
}