.c-footer {
  background-color: $c-bg-footer;
  padding-block: 20px;
  
  &__inner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  &__copyright {
    font-size: 10px;
    letter-spacing: $letter-spacing-5;
  }
}