.c-hero {
  @include box-size;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  
  &::after {
    @include abs-full;
    content: "";
    background-color: $c-black-25;
  }
  
  &__inner {
    @include box-size(rem(600), auto);
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: rem(90);
  }
}