.c-input {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  
  &__row {
    position: relative;
  }
  
  &__field {
    font-size: 24px;
    font-weight: $font-weight-semibold;
    line-height: 1.5;
    width: 100%;
    padding: 20px 30px;
    transition: $trans-default;
    letter-spacing: $letter-spacing-3;
    color: $c-text-secondary;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: $c-bg-secondary;
    
    &::placeholder {
      color: $c-text-secondary;
    }
    
    &:focus {
      border-color: $c-text-primary;
    }
    
    &--rounded {
      border-radius: 30px;
    }
    
    &--label {
      width: 100%;
      padding-left: calc(45px + 30%);
      text-align: right;
    }
    
    &--password {
      padding-right: 96px;
    }
    
    &--pin {
      @include square(100px);
      font-weight: $font-weight-bold;
      padding: 10px;
      text-align: center;
      border-radius: 16px;
    }
  }
  
  &__label {
    @include text-truncate;
    font-family: $font-family-secondary;
    font-size: 24px;
    font-weight: $font-weight-black;
    line-height: 1.5;
    position: absolute;
    top: 50%;
    left: 30px;
    width: 30%;
    transform: translateY(-50%);
    letter-spacing: $letter-spacing-5;
  }
  
  &__password {
    position: relative;
  }
  
  &__toggler {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    
    &-icon {
      @include square(36px);
      fill: $c-text-secondary;
      stroke: $c-text-secondary;
    }
  }
}