.c-loader {
  @include box-size;
  @include flex-center;
  max-width: 100vw;
  max-height: 100vh;
  
  &__spinner {
    @include square(100px);
    animation: spin 2s infinite linear;
    border: 10px solid $c-text-primary;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
  }
}