.c-logo {
	display: flex;
	align-items: center;
	gap: rem(10);

	&__icon {
		@include square(rem(60));
	}

	&__title {
		display: flex;
		flex-direction: column;
		font-size: rem(32);
		font-weight: $font-weight-bold;
		line-height: $line-height-100;

		&--light {
			color: $c-text-light;
		}

		&--dark {
			color: $c-text-primary;
		}

		span {
			font-size: rem(16);
		}
	}
}