.c-modal {
  @include flex-center;
  @include hide;
  @include fixed-full;
  transition: $trans-default;
  
  &.active {
    @include show;
  }
  
  &.light {
    background-color: $c-bg-secondary;
  }
  
  &.dark {
    background-color: $c-black-25;
  }
  
  &__content {
    @include box-size(100%, auto);
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 120px;
    background-color: $c-bg-primary;
    gap: 60px;
    
    &--code {
      display: grid;
      align-items: center;
      max-width: max-content;
      padding: 150px 100px;
      grid-template-columns: auto 720px;
      gap: 90px;
    }
  }
  
  &__icon {
    @include square(300px);
  }
  
  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
  }
  
  &__text {
    font-size: 24px;
    font-weight: $font-weight-semibold;
    line-height: 2;
    text-align: center;
    letter-spacing: $letter-spacing-5;
    
    & > span {
      color: $c-text-secondary;
    }
  }
  
  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
  }
  
  &__inputs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 8px;
  }
  
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  
  &__button {
    padding-inline: 60px;
  }
  
  &__error {
    grid-column: span 6;
  }
  
  &__form {
    @include box-size(100%, auto);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    
    &-input {
      width: 100%;
    }
    
    &-button {
      width: auto;
    }
  }
}