.c-nav {
  &__list {
    display: flex;
    gap: 30px;
  }
  
  &__item {
    cursor: pointer;
  }
  
  &__label {
    font-weight: $font-weight-medium;
    line-height: 1;
    display: inline-block;
    transition: opacity $trans-default;
    letter-spacing: $letter-spacing-5;
    color: $c-text-light;
    
    @include hover {
      opacity: 0.7;
    }
  }
}