.c-pet-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  
  &__image {
    height: 450px;
    border: 1px solid $c-text-primary;
    border-radius: 40px;
  }
  
  &__title {
    font-family: $font-family-secondary;
    font-size: 40px;
    line-height: 1;
    letter-spacing: $letter-spacing-10;
    color: $c-text-primary;
  }
}