.c-team {
  &__items {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
}

.c-team-card {
  display: grid;
  align-items: center;
  grid-template-rows: 500px auto 1fr auto;
  
  &__image {
    @include box-size(100%, 500px);
    border-radius: 40px;
  }
  
  &__content {
    margin-block: 50px;
  }
  
  &__title {
    font-size: 30px;
    font-weight: $font-weight-semibold;
    letter-spacing: $letter-spacing-5;
  }
  
  &__text {
    line-height: 1.2;
    margin-top: 50px;
    letter-spacing: $letter-spacing-3;
  }
}