.c-textarea {
  &__textarea {
    @include box-size(100%, auto);
    font-size: rem(32);
    font-weight: $font-weight-bold;
    line-height: $line-height-187-5;
    padding: rem(17) rem(30);
    letter-spacing: $letter-spacing-5;
    color: $c-text-secondary;
    border: rem(2) solid $c-text-primary;
    border-radius: rem(23);
    background-color: $c-text-light-70;
    
    &::placeholder {
      color: $c-text-secondary;
    }
    
    &:focus {
      border-color: $c-text-secondary;
    }
  }
}