.c-textarea {
  &__textarea {
    @include box-size(100%, auto);
    font-size: 32px;
    font-weight: $font-weight-bold;
    padding: 17px 30px;
    letter-spacing: $letter-spacing-5;
    color: $c-text-secondary;
    border: 2px solid $c-text-primary;
    border-radius: 23px;
    background-color: $c-text-light-70;
    
    &::placeholder {
      color: $c-text-secondary;
    }
    
    &:focus {
      border-color: $c-text-secondary;
    }
  }
}