.c-add-pet-modal {
  padding-block: 110px;
  
  &__inner {
    position: relative;
    padding: 80px 90px;
    background-color: $c-bg-primary;
  }
  
  &__close-text {
    font-size: 24px;
    font-weight: $font-weight-semibold;
    line-height: 1.875;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transition: $trans-default;
    letter-spacing: $letter-spacing-5;
    color: $c-text-action;
    
    @include hover {
      color: $c-text-primary;
    }
  }
  
  &__title {
    font-family: $font-family-secondary;
    font-size: 32px;
    font-weight: $font-weight-black;
    line-height: 1;
    letter-spacing: $letter-spacing-5;
  }
}