.button {
	background-color: var(--button-bg);
	border-radius: 5px;
	color: var(--button-text);
	font-size: 30px;
	font-weight: 600;
	line-height: 1;
	letter-spacing: 0.05em;
	padding: 22px 34px;
}

.button:not(:disabled):hover {
	background-color: var(--button-bg-hover);
	color: var(--button-text-hover);
}

.button:disabled {
	cursor: not-allowed;
	opacity: 0.6;
}

.wide {
	padding-inline: 61px;
}

.alternate {
	background-color: var(--button-bg-alt);
	color: var(--button-text-alt);
}

.rounded {
	border-radius: 75px;
}

@media screen and (max-width: 767.98px) {
	.button {
		font-size: 24px;
		padding: 16px 26px;
	}
}

@media screen and (max-width: 479.98px) {
	.button {
		font-size: 16px;
		padding: 12px 22px;
	}
}