.wrapper {
	width: 100%;
	max-width: 1000px;
	background-color: var(--text-secondary-70);
	border-radius: 20px;
	padding: 120px 100px 60px;
}

.title {
	font-family: var(--font-family-title);
	font-size: 48px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.05em;
	margin-bottom: 60px;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.input {
	width: 100%;
}