body {
  font-family: $font-family-primary;
  font-size: rem($font-size-base);
  font-weight: $font-weight-normal;
  font-style: $font-style-normal;
  line-height: $line-height-150;
  color: $c-text-primary;
  background-color: $c-bg-primary;
}